<html>

<body>
	<form action="http://localhost:{{.Port}}/" method="POST">
		<div>
			<textarea name="template" rows="10"></textarea>
		</div>
		<div>
			<input name="data" />
		</div>
		<div>
			<button>OK</button>
		</div>
	</form>
</body>

</html>